.wrapper {
  /* display: flex; */
  margin-bottom: 20px;
}

.table {
  /* flex-grow: 1; */
}

.form {
  /* flex-basis: 250px;
  flex-shrink: 0;  */
  margin-bottom:20px;
  width: 250px;
  /* flex-shrink: 0; prevents the aside from shrinking, if the section attempts to grow due to its content. (see third example) */
  
  /* Instead of flex-basis: 150px; and flex-shrink: 0; you can use the shorthand: */
  /* flex: 0 0 150px; */
}










